<div class="col-lg-12">
    <div class="card mt-5 mb-5 rounded-0">
        <div class="card-body">
            <h2 class="text-center">Employee Details</h2>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <h3 class="mt-5 ">Personal Information</h3>
                    <p class="lead"><strong>First Name: </strong><%= @employee.first_name %></p>
                    <p class="lead"><strong>Middle Name: </strong><%= @employee.middle_name.present? ? @employee.middle_name : "N/A" %></p>
                    <p class="lead"><strong>Last Name: </strong><%= @employee.last_name %></p>
                    <p class="lead"><strong>Email: </strong><%= @employee.email %></p>
                </div>
                <div class="col-lg-6">
                    <h3 class="mt-5">Address Information</h3>
                    <p class="lead"><strong>Address Line 1: </strong><%= @employee.address_line_1 %></p>
                    <p class="lead"><strong>Address Line 2: </strong><%= @employee.address_line_2.present? ? @employee.address_line_2 : "N/A" %></p>
                    <p class="lead"><strong>City: </strong><%= @employee.city %></p>
                    <p class="lead"><strong>State: </strong><%= @employee.state %></p>
                    <p class="lead"><strong>Country: </strong><%= @employee.country %></p>
                    <p class="lead"><strong>ZipCode: </strong><%= @employee.zipcode %></p>
                </div>
            </div>
            <% if @employee.documents.present? %>
                <div class="row mt-4">
                    <h2 class="text-center">Employee Documents</h2>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <h4>No.</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Document Name</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4>Doc-Type</h4>
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Images</h4>
                                    </div>
                                </div>
                                <% @employee.documents.each_with_index do |document,index| %>
                                    <div class="row border">
                                        <div class="col-lg-2">
                                            <p class="lead"><%= index + 1 %></p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="lead"><%= document.name %></p>
                                        </div>
                                        <div class="col-lg-3">
                                            
                                            <p class="lead"><%= document.doc_type %></p>
                                        </div>
                                        <% if document.image.attached? %>
                                                <div class="col-lg-4"> 
                                                    <%= image_tag document.image, class: "img-fluid my-2" %> 
                                                </div>
                                        <% else %>
                                                <div class="col-lg-4"> 
                                                    <p class="lead">N/A</p> 
                                                </div>
                                        <% end %>
                                    </div>
                                    
                                <% end %>
                            </div>
                        </div>
                </div>
            <% end %>
            
                <%= link_to "Back to Employees", employees_path, class: 'btn btn-outline-primary btn-lg rounded-0' %>
                <%= link_to "Edit Employee Info", edit_employee_path(@employee), class: 'btn btn-primary btn-lg rounded-0' %> 
        </div>
        
    </div>
    
</div>