<h1><%= @title_text %></h1>
<p><%= @subtitle_text %></p>
<%= link_to 'About us', about_path, target: '_blank' %>
<%= link_to 'Contact us', contact_path, target: '_blank' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank' %>
<%= link_to 'Terms and Conditions', terms_and_conditions_path, target: '_blank' %>